*{
    margin: 0;
    padding: 0;
}

*::before,*::after {
    box-sizing: border-box;
}

body{
    font-family: 'Cera Pro';
    background: rgba(255, 255, 255, 0.9);
}

h1{
    font-family: 'Gilroy-Medium';
    font-size: 52.2371px;
    line-height: 136%;

    color: #000000;
}

h2{
    font-family: 'Gilroy-SemiBold';
    font-size: 18.8054px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FD5B2F;
}

h3{
    font-family: 'Gilroy-Medium';
    font-size: 16.7159px;
    line-height: 20px;

    color: #000000;
}

p{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 15.6711px;
    line-height: 240%;
}

section{
    min-height: auto;
    position: relative;
    overflow: hidden;
}

.ellipse1{
    position: absolute;
    background: #FFDB80;
    /* width: 1172.2px;
    height: 1172.2px;
    left: -471.18px;
    top: -408.49px; */
    width: 81.5vw;
    height: 81.5vw;    
    top: -28.4%;
    left: -32.72%;
    border-radius: 50%;
    opacity: 0.1;   
}

.ellipse2{
    position: absolute;
    background: #47CAF3;
    /* width: 943px;
    height: 944px;
    left: 724px;
    top: -100px; */
    width: 65.5vw;
    height: 65.5vw;
    top: -7%;
    left: 50.27px;
    opacity: 0.1;
    border-radius: 50%;
}

.section1{
    backdrop-filter: blur(384.02px);
}

.container{
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

header{
    padding-top: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-list{
   list-style: none;
   display: flex;
   flex-direction: row;
}

.menu-list a{
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    color: #686C75;
    text-decoration: none;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 21px;

}

.menu-list li + li{
    margin-left: 90px;
}

header h1{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 29.2528px;
    line-height: 37px;

    text-align: center;
    color: #000000;
}

.main{
    display: flex;
    align-items: stretch;
    padding-top: 120px;
}

.main .left{
    flex-grow: 0;
    flex-shrink: 1;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main .left h1{
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 58.5056px;
    line-height: 68px;
    margin-top: 14px;
}

.main .right{
    flex: 0 1 auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    
}

.main .right .img1{
    border-radius: 376.107px 376.107px 0px 0px;
}

.main .right .img1-wrapper{
   position: relative;
}

.main .right .img2{
    position: absolute;
    left: -20px;
    top: -18px;
    z-index: -1;
 }

 .main .right .img3{
    width: 230px;
    height: 230px;
    position: absolute;
    top: -31px;
    right: -95px;
    border-radius: 50%;
 }

 .main .right .img4{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 240px;
    right: -140px;
    border-radius: 50%;
 }

 .main .right .img5{
    width: 74px;
    height: 74px;
    position: absolute;
    top: 140px;
    right: -195px;
    border-radius: 50%;
 }

 .main .right h1{
    position: absolute;

    right: -140px;
    bottom: 419px;

    width: 474.31px;
    height: 67.91px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 51.1924px;
    line-height: 68px;

    opacity: 0.1;
    transform: rotate(-90deg);

    color: #000000;
 }

.main .left form{
    position: absolute;
    left: 0;
    bottom: 76px;
    padding: 22px 34px; 
    width: 777px;
    background: rgba(243, 243, 243, 0.6);
    backdrop-filter: blur(35.5212px);
    border-radius: 5.22371px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main .left form label{
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
    display: inline-flex;
    align-items: center;
}

.main .left form input{
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    text-align: start;
}

.main .left form input::placeholder {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
}


.main .left form button{
    background: #FD5B2F;
    border-radius: 5.22371px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.40268px 36.566px;
    gap: 10.45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 25px;
    color: #FFFFFF;

    border: none;
}

.people-group{
    position: relative;
    align-items: center;
    justify-content: flex-start; 
    display: flex;
}

.people{
    width: 36px;
    height: 36px;
    /* border: 2px solid #FFF; */
    display: flex;
    align-items: center;
    justify-content:  center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.people + .people{
    margin-left: -7px;
}

.people:last-child{
    margin-right: 14px;
}

.people img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.people p{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 10.4474px; 
    line-height: 38px;
    color: #FFFFFF;
}

.people-description{
    margin-left: 14px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 12.5369px;
    line-height: 38px;
    color: #000000;
}

.companies-logo{
    width: 670.56px;
    margin-top: 100px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    justify-content:space-between; 
    display: flex;
}

.section2{
    padding: 160px 0;
    backdrop-filter: blur(384.02px);
    height: 100vh;
}

.slider{
    width: 479px;
}

.slider-item{
    position: relative;
    box-sizing: border-box;
    height: 650px;
    padding: 10px 10px 0px 10px;
}

.slider-rectangle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 376.107px 376.107px 0px 0px;
}

.slider-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.slider-dot li{
    margin:  0 2px;
    width: 10px;
}

.slider-dot button{
    height: 0;
    width: 0;
    background: none;
    border: 0;
    font-size: 0;
}

.slider-dot button::after{
    border-radius: 2px;
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: #e9e9e9;
    border:  none;
    content: '';
    display: block;
    cursor: pointer;
}

.slider-dot .slick-active button::after{
    background-color: #FD5b2f;
}

/* section 2 */

.section2 .container{
    display: flex;
    flex-direction: row;
}

.section2 .container .description{
    margin-left: 100px;
    width: 777.17px;
    height: 600.73px;
    
}

.section2 .container .description h2{
    margin-top: 120px;
    text-transform: uppercase;
}

.section2 .container .description h1{
    margin: 0;
}

.section2 .container .description p{
    margin-top: 20px;
    margin-bottom: 85px;
}

.section2 .container .description .button-group{
    display: flex;
    flex-direction: row;
}

.section2 .container .description .btn1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.40268px 36.566px;
    gap: 10.45px;
    background: #FD5B2F;
    /* border: none; */
    border-radius: 5.22371px;
    border-color: #FD5B2F;

    color: white;
    font-family: 'Gilroy-Medium';
    font-size: 16.7159px;
    line-height: 20px;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;

    cursor: pointer;

}

.section2 .container .description form{
    margin: auto 0 auto 55px;
    display: flex;
    flex-direction: row;
}

.section2 .container .description .btn2{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
}

.section2 .container .description .btn2 #play{
    margin-right: 15px ;
    font-size: 30px;
    color: #FD5B2F;
    cursor: pointer;
    font-weight: normal;
}

.section2 .container .description .btn2 h6{
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 20px;
    color: #FD5B2F;
    cursor: pointer;
    margin: auto;
    font-weight: normal;

}

.section2 .container .circle{
    opacity: 0.1;
    position: absolute;
    width: 369.72px;
    height: 372.43px;
    left: 1000.91px;
    top: 0px;
}

.section2 .container .circle .ellipse{
    position: absolute;
    border: 1.04474px solid #FD5B2F;
    border-radius: 50%;
    width: 220.93px;
    height: 220.93px;
}

.section2 .container .circle #e1{
    position: relative; 
}
.section2 .container .circle #e2{
    position: relative;
    top: -70px;
    right: -60px;
}
.section2 .container .circle #e3{
    position: relative; 
    right: -160px;
    bottom: 420px;
}

/* section 3 */
.section3{
    height: 100vh;
}

.section3 .container{
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    background-image: url(./img/ThirdPage/background.png);
    background-position: top 0px left 65px;
    background-repeat: no-repeat;
    background-size:  1000px;
}

.section3 .container .left{
    width: 45%;
}

.section3 .container .left h2{
    margin-top: 40px;
    text-transform: uppercase;
}

.section3 .container .left .description h1{
    margin: 0;
}

.section3 .container .left .description p{
    margin-top: 20px;
}

.section3 .container .left .description .group-benefits{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section3 .container .left .description .benefits{
    width: 250px;
    margin: 25px 25px 25px 0;
}

.section3 .container .left .description .benefits .title{
    display: flex;
    flex-direction: row;
}

.section3 .container .left .description .benefits .title h3{
    margin-left: 14px;
}

.section3 .container .left .description button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.40268px 36.566px;
    gap: 10.45px;

    position: absolute;
    width: 176.56px;
    height: 56.42px;

    background: #FD5B2F;
    border: none;
    border-radius: 5.22371px;

    font-family: 'Gilroy-Medium';
    font-size: 16.7159px;
    line-height: 20px;
    color: #FFFFFF;

    cursor: pointer;
    z-index: 1;

}

.section3 .container .right{
    margin-left: 150px;
}

.section3 .container .right .rectangle{
    position: absolute;
    width: 445.06px;
    height: 353.12px;

    background: #FFF3C8;
    border-radius: 146.264px 0px 0px 0px;

    top: 80px;
    z-index: 0;
}

.section3 .container .right .office1{
    position: absolute;
    top: -38px;
    right: 36px;
    z-index: 1;
}

.section3 .container .right .office2{
    position: absolute;
    top: -2px;
    right: 123px;
    z-index: 1;
}

.section3 .container .right .office3{
    position: absolute;
    top: 248px;
    right: -86px;
    z-index: 1;
}

.section3 .container .right .office4{
    position: absolute;
    top: 350px;
    right: 123px;
    z-index: 1;
}

/* section 4 */
.section4{
    height: 100vh;
    margin-bottom: 150px;
}

.section4 .container{
    display: flex;
    flex-direction: row ;
    padding: 150px;
    background-image: url(./img/FourthPage/Vector.png);
    background-position: top 180px left 250px;
    background-repeat: no-repeat;
}

.section4 .container .left{
    width: 45%;
    margin-right: 60px ;
}

.section4 .container .description{
    margin-top: 150px;
}

.section4 .container .description .left h2{
    margin-top: 40px;
    text-transform: uppercase;
}

.section4 .container .left .description h1{
    margin: 0;
}

.section4 .container .left .description p{
    margin-top: 20px;
    margin-bottom: 84px;
}

.section4 .container .left  button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.40268px 36.566px;
    gap: 10.45px;

    position: absolute;
    width: 176.56px;
    height: 56.42px;

    background: #FD5B2F;
    border: none;
    border-radius: 5.22371px;

    font-family: 'Gilroy-Medium';
    font-size: 16.7159px;
    line-height: 20px;
    color: #FFFFFF;

    cursor: pointer;
    z-index: 1;

}

.section4 .container .right{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.section4 .container .right #img1{
    object-fit: cover;
    width: 532.82px;
    height: 710.42px;
    margin-right: 20px;
}

.section4 .container .right #img2{
    object-fit: cover;
    width: 532.82px;
    height: 710.42px;
}

/*section5*/

.section5{
    margin-bottom: 160px;
}

.section5 .container h1{
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 52.2371px;
    line-height: 71px;
    margin-bottom: 50px;
}

.section5 .container h2{
    text-align: center;
    font-family: 'Gilroy-SemiBold';
    font-size: 18.8054px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.section5 .container .benefits{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section5 .container .benefits .item{
    width: 216.26px;
    height: 200.59px;
}

.section5 .container .benefits .item + .item{
    margin-left: 50px;
}

.section5 .container .benefits .item img{
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
}

.section5 .container .benefits .item h6{
    font-family: 'Gilroy-SemiBold';
    font-size: 20.8948px;
    line-height: 24px;
    padding-bottom: 15px;
    text-align: center;
}

.section5 .container .benefits .item p{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 12.5369px;
    line-height: 25px;
    text-align: center;
}

/*section 6*/


.section6 .container{
    display: flex;
    flex-direction: row;
}
.section6 .container .left{
    width: 52%;
}

.section6 .container .left .h1{
}

.section6 .container .left .photo{
    margin-top: 30px;
    position: relative;
    left: -15px;
}
.section6 .container .left .photo img{
    margin: 15px ;
}

.section6 .container .right img{
    position: relative;
    top: -39px
}